@font-face {
  font-family: Husrev Hatti;
  src: url('../fonts/HusrevHattiArapca.ttf');
  
  font-family: Divani;
  src: url('../fonts/UKIJDi.ttf');
  
  font-family: Riwaj;
  src: url('../fonts/Riwaj.ttf');
  
  font-family: K Farsi;
  src: url('../fonts/KacstFarsi.ttf');
}

body {
  font-family: 'Quicksand', "Times New Roman", serif;
  line-height: 1.5;
  background: url("../images/grey.png");
}

a {
  color: #710041;
}

a:hover {
  color: #710041;
}

a:focus {
  color: #710041;
  text-decoration: none;
}

h2 {
  color: #710041;
}

.container .navbar {
  margin-top: 25px;
  font-family: "Cardo", "Times New Roman", serif;
  padding: 15px 0 15px 0;
  box-shadow: 1px 1px 2px grey;
  font-size: 16px;
  border-radius: 8px;
}

.navbar .navbar-brand {
  color: #710041;
  margin-top: 2px;
  font-size: 29px;
}

.navbar .navbar-brand:hover {
  color: #710041;
}

.navbar .navbar-brand:focus {
  color: #710041;
}

.navbar .navbar-text {
  font-size: 16px;
  margin-top: 19px;
  margin-bottom: 15px;
  font-family: "Dancing Script", "Times New Roman", serif;
}

.navbar .navbar-nav {
  margin-top: 5px;
}

#top {
  background-color: #f5f5f5;
  padding: 5px;
  margin-bottom: 15px;
  box-shadow: 1px 1px 2px grey;
  border-radius: 8px;
}

#top .breadcrumb {
  margin-bottom: 0;
}

.container .jumbotron {
  background-color: #ffffff;
  box-shadow: 1px 1px 2px grey;
  border-radius: 8px;
}

.container .jumbotron p {
  font-size: 16px;
}

.data {
  color: #999;
  font-family: "Poiret One", "Times New Roman", serif;
  margin-bottom: 0;
}

#share-buttons {
  font-size: 24px;
  margin-bottom: 0;
}

#fb {
  color: #3b5998;
}

#tw {
  color: #1da1f2;
}

#wa {
  color: #25dc66;
}

#em {
  color: #898963;
}

footer {
  margin-bottom: 25px;
}

nav li a.social {
  display: inline-block;
  font-size: 14px;
  padding: 0;
  margin-top: 15px;
  margin-left: 10px;
}

.social + .social {
  margin-left: 0;
}

.os-text {
  font-family: 'Scheherazade', serif;
}

.container .jumbotron .os-text p {
  font-size: 24px;
}

.container .jumbotron h2.os-text {
  font-size: 36px;
}

#os-baslik {
  font-size: 38px;
}  
