@font-face {
  
  font-family: Golden;
  src: url('../fonts/Golden Dream.ttf');
  
  font-family: Nizar;
  src: url('../fonts/NizarRuqaaRegular.ttf');
  
}

body {
  font-family: "Golden", "Times New Roman", serif;
  line-height: 1.5;
  background: url("../images/confectionary.png");
}

a {
  color: #1B4F72;
}

a:hover {
  color: #1B4F72;
}

a:focus {
  color: #1B4F72;
  text-decoration: none;
}

h2 {
  color: #1B4F72;
}

.container .navbar {
  margin-top: 20px;
  font-family: "Golden", "Times New Roman", serif;
  padding: 15px 0 5px 0;
  box-shadow: 1px 1px 2px grey;
  border-radius: 6px;
}

.navbar .navbar-brand {
  color: #1B4F72;
  margin-top: 2px;
  font-size: 31px;
}

.navbar .navbar-brand:hover {
  color: #1B4F72;
}

.navbar .navbar-brand:focus {
  color: #1B4F72;
}

.navbar .navbar-text {
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: "Dancing Script", "Times New Roman", serif;
}

.navbar .navbar-nav {
  margin-top: 5px;
}

#top {
  background-color: #f5f5f5;
  padding: 6px;
  margin-bottom: 15px;
  box-shadow: 1px 1px 2px grey;
  border-radius: 6px;
}

#top .breadcrumb {
  margin-bottom: 0;
}

.container .jumbotron {
  background-color: #ffffff;
  box-shadow: 1px 1px 2px grey;
  border-radius: 6px;
}

.container .jumbotron p {
  font-size: 16px;
}

.data {
  color: #999;
  font-family: "Golden", "Times New Roman", serif;
  font-size: 12px;
  margin-bottom: 0;
}

#share-buttons {
  font-size: 24px;
  margin-bottom: 0;
  text-align: right;
}

#fb {
  color: #3b5998;
}

#tw {
  color: #1da1f2;
}

#wa {
  color: #25dc66;
}

#em {
  color: #898963;
}

footer {
  margin-bottom: 25px;
}

nav li a.social {
  display: inline-block;
  font-size: 15px;
  padding: 0;
  margin-top: 14px;
  margin-left: 10px;
}

.social + .social {
  margin-left: 0;
}

.os-text {
  font-family: "Nizar";
}

.container .jumbotron .os-text p {
  font-size: 23px;
}

.container .jumbotron h2.os-text {
  font-size: 39px;
}

#os-baslik {
  font-size: 44px;
}  

#foot-os {
  font-size: 20px;
}

#lang-os {
  font-size: 16px;
  font-family: "Golden", "Times New Roman", serif;
}

#os-bilgi {
  font-size: 20px;
}
