---
layout: default
---

<div id="top">
  <div class="row">
    <div class="col-md-6">
      <ol class="breadcrumb">
        <li class="active">Sonuçlar</li>
      </ol>
    </div>
    <div class="col-md-6">
      {% include search.html %}
    </div>
  </div>
</div>

<div id="not-found">
  <p>Aranan metin hiçbir yazının başlığında bulunamadı.</p>
</div>
{% for post in site.posts%}
<div class="jumbotron hidden">
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  {{ post.content | truncate: post.x }} <a href="{{ post.url }}">Devamını oku</a>
</div>
{% endfor %}

<script src="/js/find.js"></script>
