---
layout: default
---

<div id="top">
  <div class="row">
    <div class="col-md-6">
      <ol class="breadcrumb">
        <li><a href="/tum-yazilar.html">Yazılar</a></li>
        <li class="active">Öykü</li>
      </ol>
    </div>
    <div class="col-md-6">
      {% include search.html %}
    </div>
  </div>
</div>

{% for post in site.posts %}
{% if post.layout != "os" %}
  {% if post.type == "Öykü" %}
    <div class="jumbotron">
      <div class="row data">
        <div class="col-xs-6">
          <p>
            {% if post.type != "w" %}
              {{ post.type }}<br>
            {% endif %}
            {{ post.author }}<br>
          </p>
        </div>
      </div>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      {{ post.content | truncate: post.x }} <a href="{{ post.url }}" postsize="{{post.content.size}}" postx="{{post.x}}">Devamını oku</a>
    </div>
  {% endif %}
{% endif %}
{% endfor %}
