---
authors:
  - name: "Berat Gönültaş"
    url: "/berat-gonultas"
  - name: "Muhammed Aydoğdu"
    url: "/muhammed-aydogdu"
---

{% include head.html %}

{% include nav.html %}

    <div class="container">
      <div class="row">
        <div class="panel panel-info col-md-2 hidden-xs hidden-sm">
          <div class="panel-heading">Son Eklenenler</div>
          <div class="panel-body">
            {% for post in site.posts %}
            <p><a href="{{ post.url }}"> {{ post.title }}<small>{{ post.type }}</small> </a></p>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-9 col-xs-12 bcenter">
          <ol class="breadcrumb">
            <li class="active">Yazarlar</li>
          </ol>
          <div class="jumbotron">
            <ul>
              <li><a href="/berat-gonultas.html">Berat Gönültaş</a></li>
              <li><a href="/muhammed-aydogdu.html">Muhammed Aydoğdu</a></li>
            </ul>
          </div>
        </div>
      </div>

{% include footer.html %}
