<footer class="footer">

  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-3">
        <a href="/index.html">Anasayfa</a>
      </div>
      <div class="col-md-3 col-xs-3">
        <a href="/tum-yazilar.html">Yazılar</a>
          <ul>
            <li><a href="/oyku.html">Öykü</a></li>
            <li><a href="/deneme.html">Deneme</a></li>
          </ul>
      </div>
      <div class="col-md-3 col-xs-3">
        <a href="/yazarlar.html">Yazarlar</a>
          <ul>
            <li><a href="/berat-gonultas.html">Berat Gönültaş</a></li>
            <li><a href="/muhammed-aydogdu.html">Muhammed Aydoğdu</a></li>
          </ul>
      </div>
      <div class="col-md-3 col-xs-3">
        <a href="/iletisim.html">İletişim</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-xs-5 text-left">
        <p><i class="fa fa-code" aria-hidden="true"></i> by Berat Gönültaş, with <a href="https://github.com/nsgonultas" target="_blank">Enes Gönültaş</a>'s help</p>
      </div>
      <div class="col-md-5 col-xs-5 text-right">
        <p><i class="fa fa-copyright" aria-hidden="true"></i> Copyright 2016</p>
      </div>
    </div>
  </div>
</footer>

<script src="/js/jquery-3.1.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>


</html>
