<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style="font-family: Aref Ruqaa" class="navbar-brand os-text" id="os-baslik" href="/index.html">جریحه</a>
    </div>
    <p style="font-family: Aref Ruqaa" class="navbar-text">..صاغالماز بر كسیك اولسه كرك بو</p>
    <div class="collapse navbar-collapse" id="navbar-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a style="font-family: Aref Ruqaa" href="/index.html">آنا صحیفه</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle nav-texts" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Yazılar <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="font-family: Aref Ruqaa" href="/siir.html">شعر</a></li>
            <li><a style="font-family: Aref Ruqaa" href="/oyku.html">أویكو</a></li>
            <li><a style="font-family: Aref Ruqaa" href="/diger.html">دیگر یازیلر</a></li>
            <li><a style="font-family: Aref Ruqaa" href="/2017/06/23/nuri-pakdil-roportaj.html">نوری پاك دیل ایله روپورتاژ</a></li>
            <li role="separator" class="divider"></li>
            <li><a style="font-family: Aref Ruqaa" href="/tum-yazilar.html">تومی</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle nav-texts" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Yazarlar <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="font-family: Aref Ruqaa" href="/ahmet-ozcelik.html">احمد أوز چلیك</a></li>
            <li><a style="font-family: Aref Ruqaa" href="/busra-acar.html">بشری آجار</a></li>
            <li><a style="font-family: Aref Ruqaa" href="/hilal-koroglu.html">هلال كور اوغلی</a></li>
            <li><a style="font-family: Aref Ruqaa" href="/ida-turan.html">ایداع توران</a></li>
            <li><a style="font-family: Aref Ruqaa" href="/muhammed-aydogdu.html">محمد آی طوغدی</a></li>
            <li><a style="font-family: Aref Ruqaa" href="/ramazan-tekin.html">رمضان تكین</a></li>
            <li><a style="font-family: Aref Ruqaa" href="/taha-yasin-posos.html">طە یس پوصوس</a></li>
            <li><a style="font-family: Aref Ruqaa" href="/zeynep-aybuke.html">زینب آی بوكه</a></li>
          </ul>
        </li>
        <li>
          <a id="tw" class="social" target="_blank" href="https://twitter.com/ceriha_"><i class="fa fa-twitter-square"></i></a>&nbsp;
          <a id="em" class="social" target="_blank" href="mailto:iletisim.ceriha@gmail.com"><i class="fa fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
