<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/index.html">CERİHA</a>
    </div>
    <p style="" class="navbar-text"><em>Sağalmaz bir kesik olsa gerek bu..</em></p>
    <div class="collapse navbar-collapse" id="navbar-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/index.html">Anasayfa</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle nav-texts" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Yazılar <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/siir.html">Şiir</a></li>
            <li><a href="/oyku.html">Öykü</a></li>
            <li><a href="/deneme.html">Deneme</a></li>
            <li><a href="/kitap.html">Kitaplar Üzerine</a></li>
            <li><a href="/2017/06/23/nuri-pakdil-roportaj.html">Nuri Pakdil ile Röportaj</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/tum-yazilar.html">Tümü</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle nav-texts" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Yazarlar <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/ahmet-ozcelik.html">Ahmet Özçelik</a></li>
            <li><a href="/berat-gonultas.html">Berat Gönültaş</a></li>
            <li><a href="/busra-acar.html">Büşra Acar</a></li>
            <li><a href="/hilal-koroglu.html">Hilâl Köroğlu</a></li>
            <li><a href="/muhammed-aydogdu.html">Muhammed Aydoğdu</a></li>
            <li><a href="/ramazan-tekin.html">Ramazan Tekin</a></li>
          </ul>
        </li>
        <li>
          <a id="em" class="social" target="_blank" href="mailto:iletisim.ceriha@gmail.com"><i class="fa fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
